{% extends "base.html" %}
{% load static %}
{% block title %}
    NetPanzer Blog
{% endblock %}
{% block content %}
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Blog</li>
            </ol>
            <h2>Blog</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry">
                        <div class="entry-img">
                            <img src="/static/assets/img/blog/luto.png" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a>Luto [+P] FU.</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>Phelipe
                                    Figueiredo</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a>
                                    <time datetime="21/12/2023">Dez
                                        21, 2023
                                    </time>
                                </a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Querida Comunidade Netpanzer,<br>
                            <p>Com corações pesados e uma profunda gratidão, nos reunimos hoje para prestar homenagem à
                                memória de Fulvio Testi, conhecido carinhosamente por todos nós como Fu. Fu não foi
                                apenas o arquiteto por trás do nosso amado Netpanzer, mas também um amigo e inspiração
                                para toda a nossa comunidade. <br> <br>
                                Ao longo dos anos, Netpanzer tornou-se mais do que apenas um jogo; transformou-se em um
                                ponto de encontro para pessoas de todas as partes do mundo, unidas por um interesse
                                comum e pela paixão que Fu infundiu em cada pixel deste universo virtual. Sua visão
                                criativa e dedicação não apenas nos proporcionaram horas incontáveis de entretenimento,
                                mas também forjaram amizades duradouras que transcenderam as fronteiras do jogo.br
                                <br><br>
                                Hoje, enquanto lamentamos sua perda, também celebramos o legado que ele deixou para
                                trás. Netpanzer, um jogo que muitos considerariam antigo, continua vivo e pulsante,
                                graças à fundação que Fu construiu. Sua obra não é apenas um testamento de seu talento,
                                mas também um reflexo do calor e da bondade que ele compartilhou com todos nós. <br><br>
                                Fu, você pode ter nos deixado, mas seu espírito e seu trabalho continuam a brilhar em
                                cada batalha que travamos, em cada estratégia que elaboramos e em cada risada que
                                compartilhamos dentro deste mundo que você criou. Sua partida deixa um vazio em nossos
                                corações, mas também um profundo sentimento de gratidão por tudo que você fez por nós.
                                <br><br>
                                À sua família e entes queridos, estendemos nossas mais sinceras condolências e
                                agradecimentos por compartilhar Fu conosco. Ele pode ter partido, mas seu legado, assim
                                como as amizades que ele ajudou a forjar, permanecerão conosco para sempre.
                                <br><br>Com amor e respeito,<br>
                                A Comunidade Netpanzer</p>

                            </p>
                        </div>
                    </article>


                    <article class="entry">
                        <div class="entry-img">
                            <img src="/static/assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/static/blog/novos_servidores.html">Novos servidores estão chegando.</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>Phelipe
                                    Figueiredo</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a>
                                    <time datetime="2020-01-01">Dez
                                        14, 2023
                                    </time>
                                </a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Com os novos servidores, a diversão não para por aí. Estamos planejando uma série de
                                eventos
                                especiais, torneios emocionantes e atualizações empolgantes para acompanhar essa
                                emocionante expansão.
                                Fique ligado em nossas redes sociais e site oficial para não perder nenhum detalhe.
                            </p>
                            <div class="read-more">
                                <a href="/static/blog/novos_servidores.html">+</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">

                        <div class="entry-img">
                            <img src="/static/assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/static/blog/nova_versão.html">Nova versão a caminho</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>Phelipe
                                    Figueiredo</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a>
                                    <time datetime="2020-01-01">Dez
                                        14, 2023
                                    </time>
                                </a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                🚀 Novidades Incríveis na Próxima Versão do NetPanzer! 🎮

                                Olá, comandantes! Estamos empolgados em compartilhar com vocês um vislumbre do que está
                                por vir na
                                próxima versão do NetPanzer. Nossa equipe tem trabalhado incansavelmente para aprimorar
                                a experiência
                                de jogo e trazer melhorias significativas que certamente irão agradar a todos os fãs de
                                estratégia em
                                tempo real.
                            </p>
                            <div class="read-more">
                                <a href="/static/blog/nova_versão.html">+</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->


                </div>

            </div>
        </div>
    </section><!-- End Blog Section -->
{% endblock %}