{% extends "base.html" %}
{% load static %}
{% block title %}
    NetPanzer Blog
{% endblock %}
{% block content %}
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Blog</li>
            </ol>
            <h2>Blog</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry">
                        <div class="entry-img">
                            <img src="/static/assets/img/blog/luto.png" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a>In Memoriam [+P] FU.</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>Phelipe
                                    Figueiredo</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a>
                                    <time datetime="21/12/2023">Dez
                                        21, 2023
                                    </time>
                                </a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                Dear NetPanzer Community,<br>
                            <p>With heavy hearts and deep gratitude, we gather to honor the memory of Fulvio Testi, fondly known to many of us as Fu. Fu was more than the architect behind our beloved NetPanzer—he was a friend and an inspiration to the entire community. <br> <br>
                                Over the years, NetPanzer became more than a game; it became a meeting place for people from around the world, united by a common interest and the passion Fu poured into every pixel of this virtual universe. His creative vision and dedication gave us countless hours of enjoyment and forged lasting friendships that went beyond the game.<br>
                                <br><br>
                                As we mourn his passing, we also celebrate the legacy he left behind. NetPanzer, a title some might call classic, continues to live and breathe thanks to the foundation Fu built. His work is a testament to his talent and the warmth he shared with us all. <br><br>
                                Fu, you may have left us, but your spirit and work shine on in every battle we fight, every strategy we craft, and every laugh we share in the world you created. Your departure leaves a void in our hearts, but also deep gratitude for everything you did for us.
                                <br><br>
                                To his family and loved ones, we extend our deepest condolences and thanks for sharing Fu with the community. Though he is gone, his legacy and the friendships he helped forge will remain with us forever.
                                <br><br>With love and respect,<br>
                                The NetPanzer Community</p>

                            </p>
                        </div>
                    </article>


                    <article class="entry">
                        <div class="entry-img">
                            <img src="/static/assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/static/blog/new_servers.html">New servers are coming.</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>Phelipe
                                    Figueiredo</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a>
                                    <time datetime="2020-01-01">Dez
                                        14, 2023
                                    </time>
                                </a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                                <p>
                                With the new servers, the fun doesn't stop there. We plan special events, exciting tournaments and updates to accompany this expansion. Stay tuned to our social channels and the official site for details.
                            </p>
                            <div class="read-more">
                                <a href="/static/blog/new_servers.html">+</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">

                        <div class="entry-img">
                            <img src="/static/assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/static/blog/new_release.html">New release coming soon</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>Phelipe
                                    Figueiredo</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a>
                                    <time datetime="2020-01-01">Dez
                                        14, 2023
                                    </time>
                                </a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                                <p>
                                🚀 Exciting improvements in the upcoming NetPanzer release! 🎮

                                Hello commanders! We're excited to share what's coming in the next NetPanzer release. Our team has been hard at work improving the gameplay experience and adding meaningful updates for RTS fans.
                            </p>
                            <div class="read-more">
                                <a href="/static/blog/new_release.html">+</a>
                            </div>
                        </div>

                    </article><!-- End blog entry -->


                </div>

            </div>
        </div>
    </section><!-- End Blog Section -->
{% endblock %}