{% extends "base.html" %}
{% load static %}
{% block title %}
    NetPanzer Chat
{% endblock %}
{% block content %}
    <section class="inner-page">
        <div class="container" data-aos="fade-up" style="text-align: center;">
            <h2 class="section-title">CHAT ONLINE</h2>
            <div style="max-width: 100%; overflow: hidden;">
                <iframe src="https://xat.com/embed/chat.php#id=220524576&gn=NETPANZER" width="50%" height="480"
                        frameborder="0" scrolling="no" style="display: block; margin: 0 auto;"></iframe>
            </div>
        </div>
    </section>
{% endblock %}
