{% extends "base.html" %}
{% load static %}
{% block title %}
    NetPanzer Clans
{% endblock %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Clãs</li>
            </ol>
            <h2>Clãs</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container aos-init aos-animate" data-aos="fade-up" style="text-align: center;">
            <h1>Clãs das Antigas</h1>
            <section id="batalha" class="batalha">
                <div class="container" data-aos="fade-up">
                    <div>
                        <img src="/static/assets/img/cla/+p.png" class="img-fluid" alt="">
                        <div class="batalha-info">
                            <div class="batalha-links">
                            </div>
                            <h4>[+P]</h4>
                            <p>INTEGRANTES: FU,CICCIO,PIL LOCKO,MACHINE,EXPERT,SAPO,HERCULES NINJA,DERICK,DARKLORD.</p>
                        </div>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/anonimos.png" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>[ANONYMOUS] BRASIL</h4>
                        <p>CLÃ FEITO HOMENAGEM A ORGANIZAÇÃO 'ANONYMOUS'.</p>
                        <p>INTEGRANTES:DROPFIRE,HIT,KICK,STYLE,DARKNE,PEE,813,PEW,LOckaO.
                        </p>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/cka.png" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>[CKA] Cannadian kick ass</h4>
                        <p>Integrantes:Steemer,MAXCAN,SAPINHO,Chibacity,Romina,Bolive,Jhon,Night</p>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/fsk.png" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>"[FsK] - Fast With Skill"</h4>
                        <p>INTEGRANTES: Storm, Khaos,Kisu!, Wallhacker</p>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/php.png" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>[PHP]</h4>
                        <p>INTEGRANTES: ELEMENT,TAKASHI,SHARK, CARLOS,DUUDU</p>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/pk.png" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>(*PK*)</h4>
                        <p>INTEGRANTES:PSICO,SIC,HUNGLLE,FIL,CREED.</p>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/psdts.jpg" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>[PSDTS] - PRESIDENTES</h4>
                        <p>INTEGRANTES:WEDSON,FE,BLADE,CELO</p>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/star.png" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>[STAR]</h4>
                        <p>INTEGRANTES: DRIFT, 100PANIKO,SHARK,KAKA...</p>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/sti.png" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>[STI] SOMOS TODOS IRMÃOS</h4>
                        <p>INTEGRANTES: JONES, EDU!,BIEL,RESET,DRY,XxX, FLAME,BIIFEE,RAFAEL.</p>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/tnt.png" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>[TNT] - EXPLOSIVO</h4>
                        <p>INTEGRANTES:ULTIMATE,SAMUKA,BRAZUCA, INFELIZ.</p>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/top.png" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>[TOP]</h4>
                        <p>INTEGRANTES:TOLOKO,FINAL,NEGOH,SPICK.</p>
                    </div>
                </div>
                <p>-----------------------------------------------------------------</p>
                <div>
                    <img src="/static/assets/img/cla/error.png" class="img-fluid" alt="">
                    <div class="batalha-info">
                        <div class="batalha-links">
                        </div>
                        <h4>[ERROR]</h4>
                        <p>INTEGRANTES: Saudades, COYOTE, Caroline, Socorro e Slipknott</p>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
