{% extends "base.html" %}
{% block title %}
    NetPanzer History
{% endblock %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Nossa História</li>
            </ol>
            <h2>Nossa História</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="inner-page">
        <div class="container" data-aos="fade-up" style="text-align: center;">
            <h1>O início do netpanzer.</h1>
            <p>"NetPanzer" é um jogo de guerra tática multijogador online com uma história interessante. Originalmente
                desenvolvido pela Pyrosoft Inc., o desenvolvimento do NetPanzer começou sob a égide desta empresa, mas
                em
                1999, eles pararam o desenvolvimento do jogo. Em 2002, o jogo foi lançado sob a Licença Pública Geral
                GNU
                (GPL), tornando-o um software livre. Esse lançamento quase levou ao esquecimento do jogo até que foi
                anunciado
                no happypenguin.org por Ingo. Após esse anúncio, um grupo de programadores criou um port para Linux em
                cerca
                de duas semanas, com mais duas semanas dedicadas ao polimento para o primeiro lançamento.

                Até 2010, a versão mais recente do NetPanzer era a 0.8.3, lançada em 20 de fevereiro de 2010, e estava
                completamente licenciada sob a GPLv2. O jogo também foi incluído no volume 2 do "OpenSource Game Power".

                Mais recentemente, em 2023, houve discussões sobre um possível novo lançamento do NetPanzer com
                melhorias
                significativas e novos recursos, juntamente com uma reescrita completa do código. O status atual do jogo
                pode
                ser acompanhado em seu site, que serve como uma página de destino para jogadores nostálgicos e fornece
                atualizações sobre o desenvolvimento do jogo.</p>
            <img src="/static/assets/img/history/history.png" width="400px" height="300px">

            <br><br>

            <h1>Desenvolvimento do jogo</h1>

            <p>
                Atual desenvolvedor: Aaron Perez (kromxp) <br>

                Jogo Original: (Pyrosoft) <br>

                Vlad Rahkoy: motor de jogo principal, o design geral e codificação. <br>

                Skip Rhudy: mapas, direção de arte, design unidade unidade, paisagens, todos os efeitos sonoros,
                programação
                de rede e sistema de som. <br>

                Matt Bogue: efeitos especiais programação, jogo código de suporte do motor. <br>

                Clint Bogue: projeto da unidade e renderização. <br>


            <h2>Linux Porta + Polimento</h2> <br>

            Matthias Braun: linux porta, MasterServer sistema, novo sistema de construção, melhorias de usabilidade,
            console
            do servidor, inúmeras correções de bugs e limpeza de código, gentoo, autopackage e embalagem janelas. <br>

            Ivo Danihelka: linux porta, jogador both, correções de bugs e limpezas. <br>

            Hollis Blanchard: portabilidade Power PC. <br>

            Hankin Chick: antigo IRC código de Servidores. <br>

            Tyler Nielsen: linux porta. <br>

            Pronobozo: Criador de músicas no jogo. <br>

            <br>

            <h2>Atualização</h2> <br>

            Bastosz Fenski: página home, debian embalagem <br>

            BenUrban: (irc nick) Mac OS / X <br>

            <br>

            <h2>Relacionado</h2> <br>

            Tobias Blerch PHP Serverbrowser, página de estatísticas. <br>

            Ingo Ruhnke apoio Flexlay para mapas netpanzer. <br>

            Wile64 novo editor de mapas e outros utilitários. <br>

            Fonte: netpanzer.org</p>

            <br>

            <h1>Ultimos combatentes vivos</h1>

            <p>

                Devon Winrich - Desenvolvimento atual e updates do jogo.br <br>

                'FU' aka '(Fu)lvio Testi' - Desenvolvimento e update do jogo.br <br>

                Phelipe Silva - Desenvolvedor do Fansite - netpanzer.com.br e host de servidor. <br>

                Lucas - Mentoria no desenvolvimento web e Server <br>

                Gilmar de Santos - Propagador de acessos ao jogo e desenvolvimento de anúncios. <br>
            </p>
        </div>
    </section>
{% endblock %}
