<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nossa História - Netpanzer - Batalha de tanques online</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Presento
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index.html">NETPANZER</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="./index.html">Início</a></li>
          <li><a class="nav-link scrollto active" href="./historia.html">História</a></li>
          <li><a class="nav-link scrollto" href="./servidores.html">Servidores</a></li>
          <li><a class="nav-link scrollto" href="./ranking.html">Ranking</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a class="nav-link scrollto" href="./clans.html">Clãs</a></li>
          <li><a class="nav-link scrollto" href="./chat.html">Chat</a></li>
          <li><a class="nav-link scrollto" href="https://github.com/netpanzer/netpanzer" target="_blank">Github</a></li>
          <li><a class="nav-link scrollto" href="https://discord.gg/rEzgAuBNxa" target="_blank">Discord</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/downloads.html" class="get-started-btn scrollto">Download</a>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Nossa História</li>
        </ol>
        <h2>Nossa História</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container" data-aos="fade-up" style="text-align: center;">
        <h1>O início do netpanzer.</h1>
        <p>"NetPanzer" é um jogo de guerra tática multijogador online com uma história interessante. Originalmente
          desenvolvido pela Pyrosoft Inc., o desenvolvimento do NetPanzer começou sob a égide desta empresa, mas em
          1999, eles pararam o desenvolvimento do jogo. Em 2002, o jogo foi lançado sob a Licença Pública Geral GNU
          (GPL), tornando-o um software livre. Esse lançamento quase levou ao esquecimento do jogo até que foi anunciado
          no happypenguin.org por Ingo. Após esse anúncio, um grupo de programadores criou um port para Linux em cerca
          de duas semanas, com mais duas semanas dedicadas ao polimento para o primeiro lançamento.

          Até 2010, a versão mais recente do NetPanzer era a 0.8.3, lançada em 20 de fevereiro de 2010, e estava
          completamente licenciada sob a GPLv2. O jogo também foi incluído no volume 2 do "OpenSource Game Power".

          Mais recentemente, em 2023, houve discussões sobre um possível novo lançamento do NetPanzer com melhorias
          significativas e novos recursos, juntamente com uma reescrita completa do código. O status atual do jogo pode
          ser acompanhado em seu site, que serve como uma página de destino para jogadores nostálgicos e fornece
          atualizações sobre o desenvolvimento do jogo.</p>
        <img src="./assets/img/history/history.png" width="400px" height="300px">

        <br><br>

        <h1>Desenvolvimento do jogo</h1>

        <p>
          Atual desenvolvedor: Aaron Perez (kromxp) <br>

          Jogo Original: (Pyrosoft) <br>

          Vlad Rahkoy: motor de jogo principal, o design geral e codificação. <br>

          Skip Rhudy: mapas, direção de arte, design unidade unidade, paisagens, todos os efeitos sonoros, programação
          de rede e sistema de som. <br>

          Matt Bogue: efeitos especiais programação, jogo código de suporte do motor. <br>

          Clint Bogue: projeto da unidade e renderização. <br>


        <h2>Linux Porta + Polimento</h2> <br>

        Matthias Braun: linux porta, MasterServer sistema, novo sistema de construção, melhorias de usabilidade, console
        do servidor, inúmeras correções de bugs e limpeza de código, gentoo, autopackage e embalagem janelas. <br>

        Ivo Danihelka: linux porta, jogador both, correções de bugs e limpezas. <br>

        Hollis Blanchard: portabilidade Power PC. <br>

        Hankin Chick: antigo IRC código de Servidores. <br>

        Tyler Nielsen: linux porta. <br>

        Pronobozo: Criador de músicas no jogo. <br>

        <br>

        <h2>Atualização</h2> <br>

        Bastosz Fenski: página home, debian embalagem <br>

        BenUrban: (irc nick) Mac OS / X <br>

        <br>

        <h2>Relacionado</h2> <br>

        Tobias Blerch PHP Serverbrowser, página de estatísticas. <br>

        Ingo Ruhnke apoio Flexlay para mapas netpanzer. <br>

        Wile64 novo editor de mapas e outros utilitários. <br>

        Fonte: netpanzer.org</p>

        <br>

        <h1>Ultimos combatentes vivos</h1>

        <p>

          Devon Winrich - Desenvolvimento atual e updates do jogo.br <br>

          'FU' aka '(Fu)lvio Testi' - Desenvolvimento e update do jogo.br <br>

          Phelipe Silva - Desenvolvedor do Fansite - netpanzer.com.br e host de servidor. <br>

          Lucas - Mentoria no desenvolvimento web e Server <br>

          Gilmar de Santos - Propagador de acessos ao jogo e desenvolvimento de anúncios. <br>


        </p>


      </div>

    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">



    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong></strong>. Todos os direitos reservados
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/ -->
          Designed by <a href="https://google.com/">RipChip</a>
        </div>
      </div>
      <div class="social-links text-center text-md-end pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/netpanzeiroswar" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/netpanzerofc/" class="instagram"><i class="bx bxl-instagram"></i></a>

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>