<!-- TODO - this file is not used. find a nice place for these links. -->

<a href="https://github.com/futes/netpanzer"  class="get-started-btn-download" target="_blank">Netpanzer Repositório Por Fulvio Testi (Clique Aqui)</a><br><br>
<a href="https://github.com/francov/netPanzerSB"  class="get-started-btn-download" target="_blank">Projeto Server Browser Mobile Por Francesco Valente (Clique Aqui)</a><br><br>
<a href="https://github.com/aaronps/np-tileset-view"  class="get-started-btn-download" target="_blank">Projeto Netpanzer Telegram-BOT Por Aaron Perez Sanchez (Clique Aqui)</a><br><br>
<a href="https://github.com/netpanzer-online/netpanzer-online"  class="get-started-btn-download" target="_blank">Projeto Netpanzer Online Por Winrid (Clique Aqui)</a><br><br>
<a href="https://github.com/Rominagrobis/OldNetPanzer"  class="get-started-btn-download" target="_blank">Ferramentas Antigas Por Rominagrobis (Clique Aqui)</a><br><br>
<a href="https://sourceforge.net/projects/netpanzer.berlios/files/"  class="get-started-btn-download" target="_blank">Versões Antigas By.Berlios (Clique Aqui)</a><br><br>
<a href="https://github.com/ph2708/flaxlay"  class="get-started-btn-download" target="_blank">Editor de mapas - [BETA](Clique Aqui)</a><br><br>
<a href="./assets/game/instalador-netpanzer.msi"  class="get-started-btn-download" target="_blank">Projeto auto update - BETA-TEST Por Phelipe (Clique Aqui)</a><br>Launcher para o jogo.<br>
<a href="./assets/game/Flags.zip"  class="get-started-btn-download" target="_blank">Bandeiras - Por Phelipe (Clique Aqui)</a><br>Pack de bandeiras, extrair na pasta flags.<br>
<a href="https://github.com/ph2708/serverbrowser_np"  class="get-started-btn-download" target="_blank">Novo Server Browser + Ranking - Por Phelipe (Clique Aqui)</a><br>Server Browser + Ranking escrito em node.<br>
<a href="./assets/game/maps.zip"  class="get-started-btn-download" target="_blank">Pack Mapas - Por Phelipe (Clique Aqui)</a><br>Extrair na pasta maps do jogo.<br>
