<!-- TODO - this file is not used. find a nice place for these links. -->

<a href="https://github.com/futes/netpanzer"  class="get-started-btn-download" target="_blank">Netpanzer Repository by Fulvio Testi (click here)</a><br><br>
<a href="https://github.com/francov/netPanzerSB"  class="get-started-btn-download" target="_blank">Server Browser Mobile project by Francesco Valente (click here)</a><br><br>
<a href="https://github.com/aaronps/np-tileset-view"  class="get-started-btn-download" target="_blank">Netpanzer Telegram-BOT project by Aaron Perez Sanchez (click here)</a><br><br>
<a href="https://github.com/netpanzer-online/netpanzer-online"  class="get-started-btn-download" target="_blank">Netpanzer Online project by Winrid (click here)</a><br><br>
<a href="https://github.com/Rominagrobis/OldNetPanzer"  class="get-started-btn-download" target="_blank">Old tools by Rominagrobis (click here)</a><br><br>
<a href="https://sourceforge.net/projects/netpanzer.berlios/files/"  class="get-started-btn-download" target="_blank">Old releases on SourceForge (click here)</a><br><br>
<a href="https://github.com/ph2708/flaxlay"  class="get-started-btn-download" target="_blank">Map editor - [BETA] (click here)</a><br><br>
<a href="./assets/game/instalador-netpanzer.msi"  class="get-started-btn-download" target="_blank">Auto-update project - BETA-TEST by Phelipe (click here)</a><br>Launcher for the game.<br>
<a href="./assets/game/Flags.zip"  class="get-started-btn-download" target="_blank">Flags pack - by Phelipe (click here)</a><br>Flags pack, extract into the flags folder.<br>
<a href="https://github.com/ph2708/serverbrowser_np"  class="get-started-btn-download" target="_blank">New Server Browser + Ranking - by Phelipe (click here)</a><br>Server Browser + Ranking written in Node.js.<br>
<a href="./assets/game/maps.zip"  class="get-started-btn-download" target="_blank">Maps pack - by Phelipe (click here)</a><br>Extract into the game's maps folder.<br>
