{% extends "base.html" %}
{% block title %}
    NetPanzer Ranking
{% endblock %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Server Browser</li>
            </ol>
            <h2>Server Browser</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <section>
        <div class="responsive-iframe-container">
            <iframe src="https://servers.netpanzer.com.br:8080" frameborder="0"></iframe>
        </div>
    </section>
{% endblock %}
